<configuration>
    <conversionRule conversionWord="highlight" converterClass="com.remal.portfolio.logback.OverwriteDefaultColors" />

    <appender name="STDOUT_LOG" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%highlight([%-5level]) %highlight(%m%n)</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT_DATA" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.remal.portfolio.writer.StdoutWriter" level="debug" additivity = "false">
        <appender-ref ref="STDOUT_DATA" />
    </logger>

    <root level="debug">
        <appender-ref ref="STDOUT_LOG" />
    </root>
</configuration>
